In [ ]:
#importing libraries
import numpy as np
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import statistics
import math
import os
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn.metrics import confusion_matrix
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
import re
pd.set_option('max_colwidth', 800)


#importing Libraies
import networkx as nx
import matplotlib.pyplot as plt
from numpy import genfromtxt
import collections
from collections import OrderedDict

import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.linear_model import LinearRegression,LogisticRegression, RidgeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report,accuracy_score

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
#loading dataset
df=pd.read_csv('/content/deceptive.csv')
df.head()

,deceptive,hotel,polarity,source,text,Class
0,truthful,conrad,positive,TripAdvisor,"We stayed for a one night getaway with family on a thursday. Triple AAA rate of 173 was a steal. 7th floor room complete with 44in plasma TV bose stereo, voss and evian water, and gorgeous bathroom(no tub but was fine for us) Concierge was very helpful. You cannot beat this location... Only flaw was breakfast was pricey and service was very very slow(2hours for four kids and four adults on a friday morning) even though there were only two other tables in the restaurant. Food was very good so it was worth the wait. I would return in a heartbeat. A gem in chicago... \n",1
1,truthful,hyatt,positive,TripAdvisor,"Triple A rate with upgrade to view room was less than $200 which also included breakfast vouchers. Had a great view of river, lake, Wrigley Bldg. & Tribune Bldg. Most major restaurants, Shopping, Sightseeing attractions within walking distance. Large room with a very comfortable bed. \n",1
2,truthful,hyatt,positive,TripAdvisor,"This comes a little late as I'm finally catching up on my reviews from the past several months:) A dear friend and I stayed at the Hyatt Regency in late October 2007 for one night while visiting a friend and her husband from out of town. This hotel is perfect, IMO. Easy check in and check out. Lovely, clean, comfortable rooms with great views of the city. I know this area pretty well and it's very convenient to many downtown Chicago attractions. We had dinner and went clubing with our friends around Division St.. We had no problems getting cabs back and forth to the Hyatt and there's even public transportation right near by but we didn't bother since we only needed cabs from and to the hotel. Parking, as is usual for Chicago, was expensive but we were able to get our car out quickly (h...",1
3,truthful,omni,positive,TripAdvisor,"The Omni Chicago really delivers on all fronts, from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue. While this address in Chicago requires a high level of quality, the Omni delivers. Check in for myself and a whole group of people with me was under 3 minutes, the staff had plentiful recommendations for dining and events, and the rooms are some of the largest you'll find at this price range in Chicago. Even the 'standard' room has a separate living area and work desk. The fitness center has free weights, weight machines, and two rows of cardio equipment. I shared the room with 7 others and did not feel cramped in any way! All in all, a great property! \n",1
4,truthful,hyatt,positive,TripAdvisor,"I asked for a high floor away from the elevator and that is what I got. The room was pleasantly decorated, functional and very clean. I didn't need a whole lot of service but when I did they were pleasant and prompt. I used the fitness center which was well equipped and everything was in working order. It is in a great location at one end of the Michigan Avenue shopping district. \n",1

In [ ]:
df.shape

(1600, 6)

In [ ]:
df['Class'].value_counts()

1    800
0    800
Name: Class, dtype: int64

In [ ]:
# keep first duplicate row
#df = df.drop_duplicates()

In [ ]:
df['Class'].value_counts()

1    800
0    800
Name: Class, dtype: int64

In [ ]:
df.isnull().sum()

deceptive    0
hotel        0
polarity     0
source       0
text         0
Class        0
dtype: int64

In [ ]:
#import seaborn as sns
#sns.countplot(x=df['Class'],data=df)

In [ ]:
df.columns

Index(['deceptive', 'hotel', 'polarity', 'source', 'text', 'Class'], dtype='object')

In [ ]:
# dropping unnecessary columns. 
df.drop(['Class', 'hotel', 'polarity', 'source'], axis = 1, inplace=True)
df.head()

,deceptive,text
0,truthful,"We stayed for a one night getaway with family on a thursday. Triple AAA rate of 173 was a steal. 7th floor room complete with 44in plasma TV bose stereo, voss and evian water, and gorgeous bathroom(no tub but was fine for us) Concierge was very helpful. You cannot beat this location... Only flaw was breakfast was pricey and service was very very slow(2hours for four kids and four adults on a friday morning) even though there were only two other tables in the restaurant. Food was very good so it was worth the wait. I would return in a heartbeat. A gem in chicago... \n"
1,truthful,"Triple A rate with upgrade to view room was less than $200 which also included breakfast vouchers. Had a great view of river, lake, Wrigley Bldg. & Tribune Bldg. Most major restaurants, Shopping, Sightseeing attractions within walking distance. Large room with a very comfortable bed. \n"
2,truthful,"This comes a little late as I'm finally catching up on my reviews from the past several months:) A dear friend and I stayed at the Hyatt Regency in late October 2007 for one night while visiting a friend and her husband from out of town. This hotel is perfect, IMO. Easy check in and check out. Lovely, clean, comfortable rooms with great views of the city. I know this area pretty well and it's very convenient to many downtown Chicago attractions. We had dinner and went clubing with our friends around Division St.. We had no problems getting cabs back and forth to the Hyatt and there's even public transportation right near by but we didn't bother since we only needed cabs from and to the hotel. Parking, as is usual for Chicago, was expensive but we were able to get our car out quickly (h..."
3,truthful,"The Omni Chicago really delivers on all fronts, from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue. While this address in Chicago requires a high level of quality, the Omni delivers. Check in for myself and a whole group of people with me was under 3 minutes, the staff had plentiful recommendations for dining and events, and the rooms are some of the largest you'll find at this price range in Chicago. Even the 'standard' room has a separate living area and work desk. The fitness center has free weights, weight machines, and two rows of cardio equipment. I shared the room with 7 others and did not feel cramped in any way! All in all, a great property! \n"
4,truthful,"I asked for a high floor away from the elevator and that is what I got. The room was pleasantly decorated, functional and very clean. I didn't need a whole lot of service but when I did they were pleasant and prompt. I used the fitness center which was well equipped and everything was in working order. It is in a great location at one end of the Michigan Avenue shopping district. \n"

In [ ]:
z = {'truthful' : 1, 'deceptive' : 0}  # 1 for truthful reviews and 0 for deceptive reviews
df['Class'] = df['deceptive'].map(z)

In [ ]:
df.head()

,deceptive,text,Class
0,truthful,"We stayed for a one night getaway with family on a thursday. Triple AAA rate of 173 was a steal. 7th floor room complete with 44in plasma TV bose stereo, voss and evian water, and gorgeous bathroom(no tub but was fine for us) Concierge was very helpful. You cannot beat this location... Only flaw was breakfast was pricey and service was very very slow(2hours for four kids and four adults on a friday morning) even though there were only two other tables in the restaurant. Food was very good so it was worth the wait. I would return in a heartbeat. A gem in chicago... \n",1
1,truthful,"Triple A rate with upgrade to view room was less than $200 which also included breakfast vouchers. Had a great view of river, lake, Wrigley Bldg. & Tribune Bldg. Most major restaurants, Shopping, Sightseeing attractions within walking distance. Large room with a very comfortable bed. \n",1
2,truthful,"This comes a little late as I'm finally catching up on my reviews from the past several months:) A dear friend and I stayed at the Hyatt Regency in late October 2007 for one night while visiting a friend and her husband from out of town. This hotel is perfect, IMO. Easy check in and check out. Lovely, clean, comfortable rooms with great views of the city. I know this area pretty well and it's very convenient to many downtown Chicago attractions. We had dinner and went clubing with our friends around Division St.. We had no problems getting cabs back and forth to the Hyatt and there's even public transportation right near by but we didn't bother since we only needed cabs from and to the hotel. Parking, as is usual for Chicago, was expensive but we were able to get our car out quickly (h...",1
3,truthful,"The Omni Chicago really delivers on all fronts, from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue. While this address in Chicago requires a high level of quality, the Omni delivers. Check in for myself and a whole group of people with me was under 3 minutes, the staff had plentiful recommendations for dining and events, and the rooms are some of the largest you'll find at this price range in Chicago. Even the 'standard' room has a separate living area and work desk. The fitness center has free weights, weight machines, and two rows of cardio equipment. I shared the room with 7 others and did not feel cramped in any way! All in all, a great property! \n",1
4,truthful,"I asked for a high floor away from the elevator and that is what I got. The room was pleasantly decorated, functional and very clean. I didn't need a whole lot of service but when I did they were pleasant and prompt. I used the fitness center which was well equipped and everything was in working order. It is in a great location at one end of the Michigan Avenue shopping district. \n",1

In [ ]:
# Cleaning Raw tweets
def clean_text(text):
    
    #remove emails
    text = ' '.join([i for i in text.split() if '@' not in i])
    
    #remove web address
    text = re.sub('http[s]?://\S+', '', text)

    #remove brackets and parantheses (and removing the text inside the brackets and parantheses)
    text = re.sub("[\(\[].*?[\)\]]", "", text)

    #remove punctuations
    text = re.sub(r'[^\w\s]', ' ', text)
    
    #Filter to allow only alphabets and numbers
    text = re.sub(r'[^a-zA-Z\']', ' ', text)
    
    #Remove Unicode characters
    text = re.sub(r'[^\x00-\x7F]+', '', text)

    #remove double spaces 
    text = re.sub('\s+', ' ', text)
    
    return text

In [ ]:
# applying that into function.
df["clean_text"] = df['text'].apply(lambda x: clean_text(x))
df.head(10)

,deceptive,text,Class,clean_text
0,truthful,"We stayed for a one night getaway with family on a thursday. Triple AAA rate of 173 was a steal. 7th floor room complete with 44in plasma TV bose stereo, voss and evian water, and gorgeous bathroom(no tub but was fine for us) Concierge was very helpful. You cannot beat this location... Only flaw was breakfast was pricey and service was very very slow(2hours for four kids and four adults on a friday morning) even though there were only two other tables in the restaurant. Food was very good so it was worth the wait. I would return in a heartbeat. A gem in chicago... \n",1,We stayed for a one night getaway with family on a thursday Triple AAA rate of was a steal th floor room complete with in plasma TV bose stereo voss and evian water and gorgeous bathroom Concierge was very helpful You cannot beat this location Only flaw was breakfast was pricey and service was very very slow even though there were only two other tables in the restaurant Food was very good so it was worth the wait I would return in a heartbeat A gem in chicago
1,truthful,"Triple A rate with upgrade to view room was less than $200 which also included breakfast vouchers. Had a great view of river, lake, Wrigley Bldg. & Tribune Bldg. Most major restaurants, Shopping, Sightseeing attractions within walking distance. Large room with a very comfortable bed. \n",1,Triple A rate with upgrade to view room was less than which also included breakfast vouchers Had a great view of river lake Wrigley Bldg Tribune Bldg Most major restaurants Shopping Sightseeing attractions within walking distance Large room with a very comfortable bed
2,truthful,"This comes a little late as I'm finally catching up on my reviews from the past several months:) A dear friend and I stayed at the Hyatt Regency in late October 2007 for one night while visiting a friend and her husband from out of town. This hotel is perfect, IMO. Easy check in and check out. Lovely, clean, comfortable rooms with great views of the city. I know this area pretty well and it's very convenient to many downtown Chicago attractions. We had dinner and went clubing with our friends around Division St.. We had no problems getting cabs back and forth to the Hyatt and there's even public transportation right near by but we didn't bother since we only needed cabs from and to the hotel. Parking, as is usual for Chicago, was expensive but we were able to get our car out quickly (h...",1,This comes a little late as I m finally catching up on my reviews from the past several months A dear friend and I stayed at the Hyatt Regency in late October for one night while visiting a friend and her husband from out of town This hotel is perfect IMO Easy check in and check out Lovely clean comfortable rooms with great views of the city I know this area pretty well and it s very convenient to many downtown Chicago attractions We had dinner and went clubing with our friends around Division St We had no problems getting cabs back and forth to the Hyatt and there s even public transportation right near by but we didn t bother since we only needed cabs from and to the hotel Parking as is usual for Chicago was expensive but we were able to get our car out quickly No problems at all and...
3,truthful,"The Omni Chicago really delivers on all fronts, from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue. While this address in Chicago requires a high level of quality, the Omni delivers. Check in for myself and a whole group of people with me was under 3 minutes, the staff had plentiful recommendations for dining and events, and the rooms are some of the largest you'll find at this price range in Chicago. Even the 'standard' room has a separate living area and work desk. The fitness center has free weights, weight machines, and two rows of cardio equipment. I shared the room with 7 others and did not feel cramped in any way! All in all, a great property! \n",1,The Omni Chicago really delivers on all fronts from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue While this address in Chicago requires a high level of quality the Omni delivers Check in for myself and a whole group of people with me was under minutes the staff had plentiful recommendations for dining and events and the rooms are some of the largest you ll find at this price range in Chicago Even the standard room has a separate living area and work desk The fitness center has free weights weight machines and two rows of cardio equipment I shared the room with others and did not feel cramped in any way All in all a great property
4,truthful,"I asked for a high floor away from the elevator and that is what I got. The room was pleasantly decorated, functional and very clean. I didn't need a whole lot of service but when I did they were pleasant and prompt. I used the fitness center which was well equipped and everything was in working order. It is in a great location at one end of the Michigan Avenue shopping district. \n",1,I asked for a high floor away from the elevator and that is what I got The room was pleasantly decorated functional and very clean I didn t need a whole lot of service but when I did they were pleasant and prompt I used the fitness center which was well equipped and everything was in working order It is in a great location at one end of the Michigan Avenue shopping district
5,truthful,"I stayed at the Omni for one night following a business meeting at another downtown Chicago hotel. I was completely impressed by the service; all personnel during my stay were absolutely outstanding. I checked in quite early (no problem) and was efficiently checked in. My room had a somewhat heavy scent of air freshener (the ONLY negative from the entire stay), which was managed reasonably well by opening the windows. I don't generally require much during my hotel stays, but suffice to say the doorman, housekeeping, the night manager and bartender at 676, the day waiter at 676, and the concierge were amazing - I never waited more than about 30 seconds for anything. The room was very comfy and the amenities were superior. One very tiny complaint - there was no wastebasket near the sink ...",1,I stayed at the Omni for one night following a business meeting at another downtown Chicago hotel I was completely impressed by the service all personnel during my stay were absolutely outstanding I checked in quite early and was efficiently checked in My room had a somewhat heavy scent of air freshener which was managed reasonably well by opening the windows I don t generally require much during my hotel stays but suffice to say the doorman housekeeping the night manager and bartender at the day waiter at and the concierge were amazing I never waited more than about seconds for anything The room was very comfy and the amenities were superior One very tiny complaint there was no wastebasket near the sink or near the wet bar had to walk to the other end of the bathroom or sitting room t...
6,truthful,"We stayed in the Conrad for 4 nights just before Thanksgiving. We had a corner room overlooking N Michigan Av and the Tribune Building. To say this is a 5 star hotel is to damn this place with faint praise - it is wonderful. The staff were unbelievably helpful. The standard of the room was superb - HD plasma screens, luxury bedlinens, iPod radio, huge bathroom. Location is unbeatable - right in the heart of everything - watched the whole Light Festival parade from the window. Breakfasts were excellent - no help yourself buffet here - with full and attentive table service. Would have no hesitation recommending or staying again in this hotel - 5 out of 5. \n",1,We stayed in the Conrad for nights just before Thanksgiving We had a corner room overlooking N Michigan Av and the Tribune Building To say this is a star hotel is to damn this place with faint praise it is wonderful The staff were unbelievably helpful The standard of the room was superb HD plasma screens luxury bedlinens iPod radio huge bathroom Location is unbeatable right in the heart of everything watched the whole Light Festival parade from the window Breakfasts were excellent no help yourself buffet here with full and attentive table service Would have no hesitation recommending or staying again in this hotel out of
7,truthful,"Just got back from 2 days up in Chicago shopping with girlfriends. First time I have stayed at the Omni. I did so because I saw a $129.00 rate that included $25.00 of free food on Travelzoo. The three of us (55 year olds) all stayed in one suite with 2 double beds and a VERY comfortable pull out sofa. We had plenty of room. Food in the restaurant was great, service was outstanding from everone we came into contact with, early morning delivery of free coffee, juice and hot chocolate was fabulous and recommendations from the staff on where to eat, time of movies, shopping areas, etc was really helpful. Need I mention the outstanding location? Simply the best! We all decided that the Omni is our new favorite hotel. \n",1,Just got back from days up in Chicago shopping with girlfriends First time I have stayed at the Omni I did so because I saw a rate that included of free food on Travelzoo The three of us all stayed in one suite with double beds and a VERY comfortable pull out sofa We had plenty of room Food in the restaurant was great service was outstanding from everone we came into contact with early morning delivery of free coffee juice and hot chocolate was fabulous and recommendations from the staff on where to eat time of movies shopping areas etc was really helpful Need I mention the outstanding location Simply the best We all decided that the Omni is our new favorite hotel
8,truthful,"We arrived at the Omni on 2nd September for a 6 day stay. I took ill when I left the plane after travelling from Manchester so I saw more of the room than I anticipated. I couldn't go out for 4 days. The room was spacious and clean. The bed was extremely comfortable. The bathroom was large and very clean. What more could you ask. We had coffee and juice left outside our door every morning at the time we requested. I managed to go to the 5th floor to see the sun terrace (outside the gym) Having a sun terrace in a city hotel is a great idea but the terrace was a bit grim. A few sunbeds on a concrete floor. There was also noise from an air conditioning unit. It could do with a bit of cheering up. What I saw of Chicago was very pleasing, it has something for everyone. Would I go back to th...",1,We arrived at the Omni on nd September for a day stay I took ill when I left the plane after travelling from Manchester so I saw more of the room than I anticipated I couldn t go out for days The room was spacious and clean The bed was extremely comfortable The bathroom was large and very clean What more could you ask We had coffee and juice left outside our door every morning at the time we requested I managed to go to the th floor to see the sun terrace Having a sun terrace in a city hotel is a great idea but the terrace was a bit grim A few sunbeds on a concrete floor There was also noise from an air conditioning unit It could do with a bit of cheering up What I saw of Chicago was very pleasing it has something for everyone Would I go back to the Omni yes I would
9,truthful,"On our visit to Chicago, we chose the Hyatt due to its location in downtown, within walking distance to most major attractions, such as Sears Tower, Magnificent Mile, Grant/Millenium Parks, etc. Subway & bus stops very close by to travel to other locations in the city . Overall the hotel was very nice, clean, and at a great location. Was in a safe area. Went to beautiful Wrigley Field and Soldier Field and saw both teams play. I love Chicago and would defenitely stay here again! \n",1,On our visit to Chicago we chose the Hyatt due to its location in downtown within walking distance to most major attractions such as Sears Tower Magnificent Mile Grant Millenium Parks etc Subway bus stops very close by to travel to other locations in the city Overall the hotel was very nice clean and at a great location Was in a safe area Went to beautiful Wrigley Field and Soldier Field and saw both teams play I love Chicago and would defenitely stay here again

In [ ]:
# dropping the uncleaned text column "text"
df = df.drop(['text'], axis=1)

In [ ]:
# renaming the column
df.rename(columns = {'clean_text':'text'}, inplace = True)
df.head()

,deceptive,Class,text
0,truthful,1,We stayed for a one night getaway with family on a thursday Triple AAA rate of was a steal th floor room complete with in plasma TV bose stereo voss and evian water and gorgeous bathroom Concierge was very helpful You cannot beat this location Only flaw was breakfast was pricey and service was very very slow even though there were only two other tables in the restaurant Food was very good so it was worth the wait I would return in a heartbeat A gem in chicago
1,truthful,1,Triple A rate with upgrade to view room was less than which also included breakfast vouchers Had a great view of river lake Wrigley Bldg Tribune Bldg Most major restaurants Shopping Sightseeing attractions within walking distance Large room with a very comfortable bed
2,truthful,1,This comes a little late as I m finally catching up on my reviews from the past several months A dear friend and I stayed at the Hyatt Regency in late October for one night while visiting a friend and her husband from out of town This hotel is perfect IMO Easy check in and check out Lovely clean comfortable rooms with great views of the city I know this area pretty well and it s very convenient to many downtown Chicago attractions We had dinner and went clubing with our friends around Division St We had no problems getting cabs back and forth to the Hyatt and there s even public transportation right near by but we didn t bother since we only needed cabs from and to the hotel Parking as is usual for Chicago was expensive but we were able to get our car out quickly No problems at all and...
3,truthful,1,The Omni Chicago really delivers on all fronts from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue While this address in Chicago requires a high level of quality the Omni delivers Check in for myself and a whole group of people with me was under minutes the staff had plentiful recommendations for dining and events and the rooms are some of the largest you ll find at this price range in Chicago Even the standard room has a separate living area and work desk The fitness center has free weights weight machines and two rows of cardio equipment I shared the room with others and did not feel cramped in any way All in all a great property
4,truthful,1,I asked for a high floor away from the elevator and that is what I got The room was pleasantly decorated functional and very clean I didn t need a whole lot of service but when I did they were pleasant and prompt I used the fitness center which was well equipped and everything was in working order It is in a great location at one end of the Michigan Avenue shopping district

In [ ]:
import spacy
#loading the english language small model of spacy
en = spacy.load('en_core_web_sm')
sw_spacy = en.Defaults.stop_words
print(sw_spacy)

{'through', 'often', 'around', 'wherein', 'five', 'one', "'s", 'four', 'than', 'some', 'why', 'n‘t', 'less', 'part', 'further', "'re", 'now', 'him', 'quite', 'front', 'hereupon', 'seems', 'regarding', 'anywhere', 'because', 'whereupon', 'am', 'meanwhile', 'say', 'upon', '’m', 'me', 'a', 'afterwards', 'amount', 'only', 'whoever', 'yet', 'much', 'perhaps', 'sometime', 'other', 'do', 'whereafter', '‘ll', 'i', 'full', 'if', 'wherever', 'any', 'nobody', '‘d', 'no', 'in', 'someone', 'out', 'throughout', 'show', 'noone', 'off', 'go', '‘m', 'then', 'mostly', 'on', 'anyhow', 'of', 'at', 'per', 'up', 'my', 'though', 'somehow', 'who', 'become', 'about', 'also', 'us', 'not', 'somewhere', 'although', 'he', 'therein', 'thereby', 'could', 'third', 'may', "'ve", 'former', 'would', 'such', 'two', 'keep', 'besides', 'from', 'yourself', 'across', 'its', 'eight', 'what', 'this', 'their', 'hence', 'will', 'mine', 'these', 'by', 'ever', 'put', 'something', 'least', 'here', 'or', 'anything', 'another', 'toward', 'is', 'they', 'thence', "'d", 'whom', 'thru', 'becomes', 'twelve', 'herself', 'for', 'we', 'everything', 'nor', 'to', 'ten', 'neither', 'forty', 'rather', 'that', 'therefore', 'fifty', 'must', 'otherwise', 'where', 'well', 'so', 'more', 'beside', 'thereupon', 'even', 'sixty', '‘ve', 'seem', 'whither', 'various', 'nothing', 'once', 'was', 'as', 'has', 'next', 'there', '’d', 'into', 'been', 'first', 'whole', 'anyone', 'moreover', 'whatever', 'thus', 'itself', 'during', 'before', 'amongst', 'were', 'an', 'ourselves', 'and', 'ours', 'six', 'along', 'latterly', 'never', 'within', 'enough', 'hereby', 'give', 'made', 'can', 'with', 'over', 'however', 'might', 'are', 'elsewhere', '’re', 'hers', 'using', 'but', 'top', '’ll', 'had', 'just', 'after', 'while', 'please', 'down', 'either', 'whence', 'sometimes', 'when', 'whenever', 'few', 'be', 'serious', 'nine', 'became', 'yourselves', 'always', 'else', 'doing', 'empty', 're', 'she', 'make', 'should', 'all', 'behind', 'together', 'among', 'already', 'without', 'very', '‘s', 'back', 'hereafter', 'beforehand', "n't", 'between', 'hundred', 'really', 'none', 'whether', 'which', 'against', 'unless', 'ca', 'eleven', 'indeed', 'those', 'myself', 'via', 'fifteen', 'both', '‘re', 'whose', 'several', 'take', 'many', 'everyone', 'until', 'name', 'last', 'you', 'nevertheless', 'alone', 'since', 'same', 'have', 'his', 'n’t', 'above', 'whereby', 'every', 'most', 'themselves', 'did', 'the', 'nowhere', 'her', 'whereas', 'bottom', 'our', 'get', 'used', 'onto', 'seeming', 'three', 'twenty', 'being', 'himself', 'cannot', 'latter', 'others', 'each', "'ll", 'see', 'beyond', 'thereafter', 'anyway', 'call', 'own', 'does', 'everywhere', 'seemed', 'them', 'it', 'again', 'herein', 'due', 'below', 'namely', 'almost', 'move', 'too', 'formerly', 'becoming', 'yours', 'towards', 'still', "'m", '’ve', 'how', 'under', '’s', 'your', 'except', 'side', 'done'}

In [ ]:
import nltk
from nltk.corpus import stopwords
sw_nltk = stopwords.words('english')
print(sw_nltk)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
sw_nltk.extend(['th','stay'])
print(len(sw_nltk))

181

In [ ]:
# preprocessing the data (removing stopwords, convert the sentence to lower case, and also applying lemmatization to get meaningful words )
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
#stop_words = set(stopwords.words('english'))
ps=PorterStemmer()
wnl=WordNetLemmatizer()
def clean_lemma(review):
    review = review.lower()
    review = review.split()
    review = [wnl.lemmatize(word) for word in review if word not in sw_nltk]
    review = [wnl.lemmatize(word) for word in review if word not in sw_spacy]
    review = ' '.join(review)
    return review

In [ ]:
# using lemmatization
df['text']=df['text'].apply(clean_lemma)
df.head()

,deceptive,Class,text
0,truthful,1,stayed night getaway family thursday triple aaa rate steal floor room complete plasma tv bose stereo voss evian water gorgeous bathroom concierge helpful beat location flaw breakfast pricey service slow table restaurant food good worth wait return heartbeat gem chicago
1,truthful,1,triple rate upgrade view room le included breakfast voucher great view river lake wrigley bldg tribune bldg major restaurant shopping sightseeing attraction walking distance large room comfortable bed
2,truthful,1,come little late finally catching review past month dear friend stayed hyatt regency late october night visiting friend husband town hotel perfect imo easy check check lovely clean comfortable room great view city know area pretty convenient downtown chicago attraction dinner went clubing friend division st problem getting cab forth hyatt public transportation right near bother needed cab hotel parking usual chicago expensive able car quickly problem best got rate hotwire downright steal area chicago quality hotel
3,truthful,1,omni chicago delivers spaciousness room helpful staff prized location michigan avenue address chicago requires high level quality omni delivers check group people minute staff plentiful recommendation dining event room largest find price range chicago standard room separate living area work desk fitness center free weight weight machine row cardio equipment shared room feel cramped way great property
4,truthful,1,asked high floor away elevator got room pleasantly decorated functional clean need lot service pleasant prompt fitness center equipped working order great location end michigan avenue shopping district

In [ ]:
x = df['text']
y = df['Class']

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer 
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer(max_features=500)
corpii=cv.fit_transform(x)

In [ ]:
# most frequent words
list(cv.vocabulary_.keys())[:500]

['stayed',
 'night',
 'getaway',
 'family',
 'rate',
 'floor',
 'room',
 'tv',
 'water',
 'gorgeous',
 'bathroom',
 'concierge',
 'helpful',
 'location',
 'breakfast',
 'service',
 'slow',
 'restaurant',
 'food',
 'good',
 'worth',
 'wait',
 'return',
 'chicago',
 'upgrade',
 'view',
 'le',
 'included',
 'great',
 'river',
 'lake',
 'shopping',
 'attraction',
 'walking',
 'distance',
 'large',
 'comfortable',
 'bed',
 'come',
 'little',
 'late',
 'finally',
 'review',
 'past',
 'month',
 'friend',
 'hyatt',
 'regency',
 'visiting',
 'husband',
 'town',
 'hotel',
 'perfect',
 'easy',
 'check',
 'lovely',
 'clean',
 'city',
 'know',
 'area',
 'pretty',
 'convenient',
 'downtown',
 'dinner',
 'went',
 'problem',
 'getting',
 'cab',
 'right',
 'near',
 'needed',
 'parking',
 'expensive',
 'able',
 'car',
 'best',
 'got',
 'quality',
 'omni',
 'staff',
 'michigan',
 'avenue',
 'high',
 'level',
 'people',
 'minute',
 'dining',
 'find',
 'price',
 'standard',
 'work',
 'desk',
 'fitness',
 'center',
 'free',
 'feel',
 'way',
 'property',
 'asked',
 'away',
 'elevator',
 'decorated',
 'need',
 'lot',
 'pleasant',
 'working',
 'order',
 'end',
 'business',
 'meeting',
 'completely',
 'impressed',
 'absolutely',
 'checked',
 'early',
 'air',
 'window',
 'doorman',
 'housekeeping',
 'manager',
 'day',
 'amazing',
 'second',
 'amenity',
 'tiny',
 'complaint',
 'sink',
 'bar',
 'walk',
 'coffee',
 'said',
 'conrad',
 'corner',
 'building',
 'star',
 'place',
 'wonderful',
 'screen',
 'luxury',
 'huge',
 'heart',
 'light',
 'excellent',
 'help',
 'buffet',
 'staying',
 'time',
 'saw',
 'suite',
 'double',
 'came',
 'morning',
 'hot',
 'fabulous',
 'eat',
 'etc',
 'simply',
 'decided',
 'new',
 'favorite',
 'arrived',
 'took',
 'left',
 'spacious',
 'extremely',
 'ask',
 'outside',
 'door',
 'requested',
 'bit',
 'noise',
 'visit',
 'chose',
 'tower',
 'magnificent',
 'mile',
 'park',
 'stop',
 'close',
 'travel',
 'overall',
 'nice',
 'beautiful',
 'love',
 'fairmont',
 'traveler',
 'home',
 'arrival',
 'immediately',
 'noticed',
 'warm',
 'person',
 'king',
 'fantastic',
 'linen',
 'pillow',
 'plan',
 'like',
 'truly',
 'life',
 'long',
 'thing',
 'special',
 'highly',
 'recommend',
 'atmosphere',
 'ok',
 'trip',
 'experience',
 'booked',
 'bath',
 'size',
 'internet',
 'block',
 'quiet',
 'ready',
 'pm',
 'priceline',
 'think',
 'sized',
 'closet',
 'knew',
 'touch',
 'mini',
 'employee',
 'friendly',
 'east',
 'hear',
 'hallway',
 'rude',
 'child',
 'charged',
 'use',
 'club',
 'tried',
 'nearby',
 'far',
 'bad',
 'big',
 'want',
 'busy',
 'lobby',
 'plus',
 'loved',
 'wife',
 'spend',
 'weekend',
 'found',
 'located',
 'making',
 'hard',
 'complain',
 'paid',
 'type',
 'look',
 'open',
 'let',
 'coming',
 'woman',
 'happy',
 'told',
 'thought',
 'wall',
 'relaxing',
 'computer',
 'access',
 'line',
 'better',
 'definitely',
 'choice',
 'couple',
 'including',
 'luxurious',
 'sure',
 'hour',
 'anniversary',
 'walked',
 'tub',
 'shower',
 'actually',
 'going',
 'deal',
 'extra',
 'turn',
 'complimentary',
 'delivered',
 'given',
 'pool',
 'felt',
 'evening',
 'spent',
 'recommended',
 'art',
 'maid',
 'called',
 'fresh',
 'probably',
 'different',
 'reservation',
 'phone',
 'wanted',
 'sheet',
 'flat',
 'carpet',
 'short',
 'pay',
 'charge',
 'bottle',
 'drink',
 'money',
 'fee',
 'wireless',
 'change',
 'greeted',
 'reception',
 'sleep',
 'glass',
 'north',
 'enjoy',
 'ave',
 'loud',
 'liked',
 'super',
 'system',
 'bring',
 'week',
 'pleased',
 'fine',
 'offered',
 'reasonable',
 'wrong',
 'customer',
 'small',
 'website',
 'wi',
 'fi',
 'guest',
 'sign',
 'daughter',
 'vacation',
 'year',
 'cleaning',
 'member',
 'kind',
 'waiting',
 'kid',
 'chair',
 'recently',
 'conference',
 'downstairs',
 'accommodation',
 'returned',
 'class',
 'offer',
 'enjoyed',
 'shop',
 'queen',
 'care',
 'non',
 'leave',
 'navy',
 'pier',
 'surprised',
 'street',
 'kept',
 'started',
 'soon',
 'gym',
 'expect',
 'looked',
 'fun',
 'cheap',
 'especially',
 'gave',
 'card',
 'cost',
 'looking',
 'overpriced',
 'millennium',
 'moment',
 'smelled',
 'heard',
 'ordered',
 'delicious',
 'menu',
 'read',
 'received',
 'provided',
 'twice',
 'cold',
 'construction',
 'sofitel',
 'try',
 'meal',
 'house',
 'quick',
 'turned',
 'smoke',
 'online',
 'old',
 'hilton',
 'point',
 'modern',
 'towel',
 'bedroom',
 'cleaned',
 'valet',
 'treated',
 'disappointed',
 'horrible',
 'supposed',
 'issue',
 'checking',
 'lounge',
 'choose',
 'relax',
 'paying',
 'traveling',
 'decor',
 'tired',
 'site',
 'expected',
 'rest',
 'inside',
 'entire',
 'toilet',
 'space',
 'half',
 'request',
 'book',
 'luggage',
 'expectation',
 'sheraton',
 'item',
 'available',
 'knickerbocker',
 'homewood',
 'dirty',
 'decent',
 'swissotel',
 'furniture',
 'monaco',
 'picture',
 'later',
 'brought',
 'option',
 'unfortunately',
 'trying',
 'wine',
 'certainly',
 'fact',
 'wifi',
 'inn',
 'bag',
 'start',
 'despite',
 'forward',
 'mistake',
 'ended',
 'wedding',
 'girl',
 'hand',
 'terrible',
 'cool',
 'intercontinental',
 'credit',
 'instead',
 'expecting',
 'average',
 'moved',
 'believe',
 'paper',
 'smell',
 'smoking',
 'museum',
 'ambassador',
 'rock',
 'affinia',
 'tell',
 'talbott',
 'elegant',
 'poor',
 'key',
 'set',
 'clerk',
 'hair',
 'pet',
 'dog',
 'package',
 'james',
 'spa',
 'bill',
 'reserved',
 'personal',
 'amalfi',
 'palmer',
 'allegro',
 'uncomfortable',
 'broken',
 'worst']

In [ ]:
feature_names = cv.get_feature_names()
feature_names

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['able',
 'absolutely',
 'access',
 'accommodation',
 'actually',
 'affinia',
 'air',
 'allegro',
 'amalfi',
 'amazing',
 'ambassador',
 'amenity',
 'anniversary',
 'area',
 'arrival',
 'arrived',
 'art',
 'ask',
 'asked',
 'atmosphere',
 'attraction',
 'available',
 'ave',
 'avenue',
 'average',
 'away',
 'bad',
 'bag',
 'bar',
 'bath',
 'bathroom',
 'beautiful',
 'bed',
 'bedroom',
 'believe',
 'best',
 'better',
 'big',
 'bill',
 'bit',
 'block',
 'book',
 'booked',
 'bottle',
 'breakfast',
 'bring',
 'broken',
 'brought',
 'buffet',
 'building',
 'business',
 'busy',
 'cab',
 'called',
 'came',
 'car',
 'card',
 'care',
 'carpet',
 'center',
 'certainly',
 'chair',
 'change',
 'charge',
 'charged',
 'cheap',
 'check',
 'checked',
 'checking',
 'chicago',
 'child',
 'choice',
 'choose',
 'chose',
 'city',
 'class',
 'clean',
 'cleaned',
 'cleaning',
 'clerk',
 'close',
 'closet',
 'club',
 'coffee',
 'cold',
 'come',
 'comfortable',
 'coming',
 'complain',
 'complaint',
 'completely',
 'complimentary',
 'computer',
 'concierge',
 'conference',
 'conrad',
 'construction',
 'convenient',
 'cool',
 'corner',
 'cost',
 'couple',
 'credit',
 'customer',
 'daughter',
 'day',
 'deal',
 'decent',
 'decided',
 'decor',
 'decorated',
 'definitely',
 'delicious',
 'delivered',
 'desk',
 'despite',
 'different',
 'dining',
 'dinner',
 'dirty',
 'disappointed',
 'distance',
 'dog',
 'door',
 'doorman',
 'double',
 'downstairs',
 'downtown',
 'drink',
 'early',
 'east',
 'easy',
 'eat',
 'elegant',
 'elevator',
 'employee',
 'end',
 'ended',
 'enjoy',
 'enjoyed',
 'entire',
 'especially',
 'etc',
 'evening',
 'excellent',
 'expect',
 'expectation',
 'expected',
 'expecting',
 'expensive',
 'experience',
 'extra',
 'extremely',
 'fabulous',
 'fact',
 'fairmont',
 'family',
 'fantastic',
 'far',
 'favorite',
 'fee',
 'feel',
 'felt',
 'fi',
 'finally',
 'find',
 'fine',
 'fitness',
 'flat',
 'floor',
 'food',
 'forward',
 'found',
 'free',
 'fresh',
 'friend',
 'friendly',
 'fun',
 'furniture',
 'gave',
 'getaway',
 'getting',
 'girl',
 'given',
 'glass',
 'going',
 'good',
 'gorgeous',
 'got',
 'great',
 'greeted',
 'guest',
 'gym',
 'hair',
 'half',
 'hallway',
 'hand',
 'happy',
 'hard',
 'hear',
 'heard',
 'heart',
 'help',
 'helpful',
 'high',
 'highly',
 'hilton',
 'home',
 'homewood',
 'horrible',
 'hot',
 'hotel',
 'hour',
 'house',
 'housekeeping',
 'huge',
 'husband',
 'hyatt',
 'immediately',
 'impressed',
 'included',
 'including',
 'inn',
 'inside',
 'instead',
 'intercontinental',
 'internet',
 'issue',
 'item',
 'james',
 'kept',
 'key',
 'kid',
 'kind',
 'king',
 'knew',
 'knickerbocker',
 'know',
 'lake',
 'large',
 'late',
 'later',
 'le',
 'leave',
 'left',
 'let',
 'level',
 'life',
 'light',
 'like',
 'liked',
 'line',
 'linen',
 'little',
 'lobby',
 'located',
 'location',
 'long',
 'look',
 'looked',
 'looking',
 'lot',
 'loud',
 'lounge',
 'love',
 'loved',
 'lovely',
 'luggage',
 'luxurious',
 'luxury',
 'magnificent',
 'maid',
 'making',
 'manager',
 'meal',
 'meeting',
 'member',
 'menu',
 'michigan',
 'mile',
 'millennium',
 'mini',
 'minute',
 'mistake',
 'modern',
 'moment',
 'monaco',
 'money',
 'month',
 'morning',
 'moved',
 'museum',
 'navy',
 'near',
 'nearby',
 'need',
 'needed',
 'new',
 'nice',
 'night',
 'noise',
 'non',
 'north',
 'noticed',
 'offer',
 'offered',
 'ok',
 'old',
 'omni',
 'online',
 'open',
 'option',
 'order',
 'ordered',
 'outside',
 'overall',
 'overpriced',
 'package',
 'paid',
 'palmer',
 'paper',
 'park',
 'parking',
 'past',
 'pay',
 'paying',
 'people',
 'perfect',
 'person',
 'personal',
 'pet',
 'phone',
 'picture',
 'pier',
 'pillow',
 'place',
 'plan',
 'pleasant',
 'pleased',
 'plus',
 'pm',
 'point',
 'pool',
 'poor',
 'pretty',
 'price',
 'priceline',
 'probably',
 'problem',
 'property',
 'provided',
 'quality',
 'queen',
 'quick',
 'quiet',
 'rate',
 'read',
 'ready',
 'reasonable',
 'received',
 'recently',
 'reception',
 'recommend',
 'recommended',
 'regency',
 'relax',
 'relaxing',
 'request',
 'requested',
 'reservation',
 'reserved',
 'rest',
 'restaurant',
 'return',
 'returned',
 'review',
 'right',
 'river',
 'rock',
 'room',
 'rude',
 'said',
 'saw',
 'screen',
 'second',
 'service',
 'set',
 'sheet',
 'sheraton',
 'shop',
 'shopping',
 'short',
 'shower',
 'sign',
 'simply',
 'sink',
 'site',
 'size',
 'sized',
 'sleep',
 'slow',
 'small',
 'smell',
 'smelled',
 'smoke',
 'smoking',
 'sofitel',
 'soon',
 'spa',
 'space',
 'spacious',
 'special',
 'spend',
 'spent',
 'staff',
 'standard',
 'star',
 'start',
 'started',
 'stayed',
 'staying',
 'stop',
 'street',
 'suite',
 'super',
 'supposed',
 'sure',
 'surprised',
 'swissotel',
 'system',
 'talbott',
 'tell',
 'terrible',
 'thing',
 'think',
 'thought',
 'time',
 'tiny',
 'tired',
 'toilet',
 'told',
 'took',
 'touch',
 'towel',
 'tower',
 'town',
 'travel',
 'traveler',
 'traveling',
 'treated',
 'tried',
 'trip',
 'truly',
 'try',
 'trying',
 'tub',
 'turn',
 'turned',
 'tv',
 'twice',
 'type',
 'uncomfortable',
 'unfortunately',
 'upgrade',
 'use',
 'vacation',
 'valet',
 'view',
 'visit',
 'visiting',
 'wait',
 'waiting',
 'walk',
 'walked',
 'walking',
 'wall',
 'want',
 'wanted',
 'warm',
 'water',
 'way',
 'website',
 'wedding',
 'week',
 'weekend',
 'went',
 'wi',
 'wife',
 'wifi',
 'window',
 'wine',
 'wireless',
 'woman',
 'wonderful',
 'work',
 'working',
 'worst',
 'worth',
 'wrong',
 'year']

In [ ]:
len(feature_names)

500

In [ ]:
u1 = pd.DataFrame(corpii.toarray(), columns=feature_names)
u1.head()

,able,absolutely,access,accommodation,actually,affinia,air,allegro,amalfi,amazing,...,wine,wireless,woman,wonderful,work,working,worst,worth,wrong,year
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.239202,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
2,0.115012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.162616,0.000000,0.0,0.000000,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.261527,0.0,0.000000,0.0,0.0

In [ ]:
# Normalize the data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
corpii1 = scaler.fit_transform(u1)

In [ ]:
u2 = pd.DataFrame(corpii1, columns=feature_names)
u2.head()

,able,absolutely,access,accommodation,actually,affinia,air,allegro,amalfi,amazing,...,wine,wireless,woman,wonderful,work,working,worst,worth,wrong,year
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.723873,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
2,0.320639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.459049,0.000000,0.0,0.000000,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.638274,0.0,0.000000,0.0,0.0

In [ ]:
u2.shape

(1600, 500)

In [ ]:
X1 = pd.concat([u2, df['Class']], axis=1)
X1.head()

,able,absolutely,access,accommodation,actually,affinia,air,allegro,amalfi,amazing,...,wireless,woman,wonderful,work,working,worst,worth,wrong,year,Class
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.723873,0.0,0.0,1
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,1
2,0.320639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,1
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.459049,0.000000,0.0,0.000000,0.0,0.0,1
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.638274,0.0,0.000000,0.0,0.0,1

In [ ]:
X1.to_csv('normalizeddata.csv', index=False)

In [ ]:
mainDataDF=pd.read_csv('/content/normalizeddata.csv')
classList=list(mainDataDF['Class'])
mainDataDF.head()

,able,absolutely,access,accommodation,actually,affinia,air,allegro,amalfi,amazing,...,wireless,woman,wonderful,work,working,worst,worth,wrong,year,Class
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.723873,0.0,0.0,1
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,1
2,0.320639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,1
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.459049,0.000000,0.0,0.000000,0.0,0.0,1
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.638274,0.0,0.000000,0.0,0.0,1

In [ ]:
mainDataDFWoClass=mainDataDF.copy()
mainDataDFWoClass.drop(columns=['Class'],inplace=True)
mainDataDFWoClass

,able,absolutely,access,accommodation,actually,affinia,air,allegro,amalfi,amazing,...,wine,wireless,woman,wonderful,work,working,worst,worth,wrong,year
0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.723873,0.0,0.0
1,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
2,0.320639,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
3,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.459049,0.000000,0.0,0.000000,0.0,0.0
4,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.638274,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0.000000,0.0,0.418402,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
1596,0.000000,0.0,0.393808,0.000000,0.000000,0.0,0.0,0.0,0.342566,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.554146,0.0,0.0
1597,0.000000,0.0,0.000000,0.621606,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
1598,0.000000,0.0,0.000000,0.000000,0.502349,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
1599,0.000000,0.0,0.208726,0.000000,0.000000,0.0,0.0,0.0,0.726264,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0